<div class="relative flex flex-col break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16">
  <h2 class="text-2xl font-medium p-5 pl-10 py-6">Добавить вакансию</h2>

  <form [formGroup]="vacancyForm"
        class="w-full bg-white rounded-lg flex-col items-center justify-center space-y-6 px-10">
    <div class="w-full">
      <label for="title" class="block text-sm font-medium text-gray-700">Название:</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        required
        class="w-full text-xl font-bold focus:outline-none focus:border-0 focus:border-b focus:ring-0 focus:text-gray-600 p-2 outline-none ring-0 border-0 border-b"
      >
    </div>
    <div class="w-full flex space-x-4 py-2">
      <div class="w-full">
        <label for="type" class="block text-sm font-medium text-gray-700">Тип:</label>
        <input
          type="text"
          id="type"
          formControlName="type"
          class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
        >
      </div>
      <div class="w-full">
        <label for="city" class="block text-sm font-medium text-gray-700">Город:</label>
        <input
          type="text"
          id="city"
          formControlName="city"
          class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
        >
      </div>
      <div class="w-full">
        <label for="employmentType" class="block text-sm font-medium text-gray-700">Тип занятости:</label>
        <input
          type="text"
          id="employmentType"
          formControlName="employmentType"
          class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
        >
      </div>
    </div>

    <div class="w-full text-black" x-data="app()">
      <div class="border border-gray-200 overflow-hidden rounded-md p-1">
        <div class="w-full flex border-b border-gray-200 text-xl text-gray-600">
          <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50" (click)="formatBold()">
            <i class="mdi mdi-format-bold"></i>
          </button>
          <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50" (click)="formatItalic()">
            <i class="mdi mdi-format-italic"></i>
          </button>
          <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50" (click)="formatUnderline()">
            <i class="mdi mdi-format-underline"></i>
          </button>
          <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50" (click)="formatHeading()">
            <i class="mdi mdi-format-header-1"></i>
          </button>
          <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50" (click)="formatBulletList()">
            <i class="mdi mdi-format-list-bulleted"></i>
          </button>
        </div>
        <iframe  #wysiwyg class="w-full h-96 overflow-y-auto"></iframe>
      </div>
    </div>

    <hr>

    <div class="flex mx-auto w-12/12 items-center justify-center pb-5">
      <button type="submit" (click)="addVacancy()" [disabled]="vacancyForm.invalid"
              class="bg-green-500 hover:bg-green-700 text-white justify-center items-center py-3 px-4 rounded">
        Добавить вакансию
      </button>
    </div>
  </form>
</div>
