<div
  class="bg-white relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3
          class="font-semibold text-lg">
          Card Tables
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
      <tr>
        <!-- Заголовки столбцов -->
        <th>ФИО</th>
        <th>Номер Телефона</th>
        <th>CV - Resume</th>
        <th>Cover text</th>
        <th>Действия</th>
      </tr>
      </thead>

      <tbody>
      <!-- Вывод данных с помощью *ngFor -->
      <tr *ngFor="let application of applications">
        <td>{{ application.fullName }}</td>
        <td>{{ application.phoneNumber }}</td>
        <td>
          <!-- Иконка файла и ссылка для скачивания -->
          <a [href]="application.resumeUrl" target="_blank">
            <i class="fa fa-file-pdf-o"></i>
            Скачать резюме
          </a>
        </td>
        <td>{{ application.coverText }}</td>
        <td>
          <!-- Кнопка для удаления записи -->
          <button (click)="deleteApplication(application.id)" class="text-red-600">X</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
