<div class="max-w-7xl mx-auto py-10 px-5">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Название:</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" id="title" name="title" [(ngModel)]="vacancy.title" required>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="region">Регион:</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" id="region" name="region" [(ngModel)]="vacancy.region" required>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="city">Город:</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" id="city" name="city" [(ngModel)]="vacancy.city" required>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="employmentType">Тип занятости:</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" id="employmentType" name="employmentType" [(ngModel)]="vacancy.employmentType" required>
    </div>

    <!-- Отображение секций вакансии -->
    <div *ngFor="let section of vacancy.sections; let i = index" class="section p-4 border rounded mb-4">

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="sectionTitle{{i}}">Заголовок секции:</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text" id="sectionTitle{{i}}" name="sectionTitle{{i}}" [(ngModel)]="section.title" required>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="sectionDescribe{{i}}">Описание секции:</label>
        <textarea
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="sectionDescribe{{i}}" name="sectionDescribe{{i}}" [(ngModel)]="section.describe" required></textarea>
      </div>

      <!-- Если тип секции 'list', отобразите список элементов -->
      <div *ngIf="section.type === 'list'" class="form-group">

        <label class="block text-gray-700 text-sm font-bold mb-2" for="sectionItems{{i}}">Элементы списка:</label>

        <ul id="sectionItems{{i}}">
          <li *ngFor="let item of section.items; let j = index; trackBy: trackByIndex"
              class="w-3/4 mb-2 flex items-center">
            <input
              class=" shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex-grow"
              type="text" id="item{{i}}_{{j}}" name="item{{i}}_{{j}}" [(ngModel)]="section.items[j]" required>
            <button class="bg-red-500 hover:bg-red-700 text-white py-2 px-3 ml-2 rounded" (click)="removeItem(i, j)">
              Удалить элемент
            </button>
          </li>
        </ul>

        <button class="bg-yellow-400 hover:bg-yellow-500 text-black py-2 px-3 rounded mt-2" (click)="addItem(i)">
          Добавить элемент
        </button>

      </div>
    </div>

    <button class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded" type="submit"
            (click)="updateVacancy()">
      Сохранить изменения
    </button>

  </form>
</div>
